<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <title><%= page_title %></title>
    
    <%- include('inc/head'); %>

    <script>
      $( function() {
        $( "#startdate" ).datepicker({ dateFormat: 'dd/mm/yy' });
        $( "#enddate" ).datepicker({ dateFormat: 'dd/mm/yy' });
      } );
    </script>
  </head>
  <body>

    <div class="clearfix title-bar">
      <div class="title-badge">
        <span style="font-size: small" class="code-inline">
          <!--<img src="img/_dtt-logo.png" width="29" />-->
          dtt
          | ben.sturley
          | svetoslav.nunev
        </span>
      </div>
      <h4 style="margin-top: 0px; margin-bottom: 0px;">
        <a href="https://dttdeliveries.co.uk/" target="_blank"><img src="img/dtt-logo_bb.png" width="60" /></a>
        <%= page_title %>
      </h4>
    </div>

    <!-- Start Top Bar -->
    <div class="top-bar">
    </div>
    <!-- End Top Bar -->

    <div class="callout small success">
      <div class="row column text-center">

      </div>
    </div>


    <% if (showNotice) { %>
    <div class="callout svet-notice" id="svet-notice">
      <div class="float-right">[ <a xhref="#" onclick="$('#svet-notice').hide()">hide this notice</a> ]</div>
      <%- include('inc/svetnotice'); %>
      <div class="float-right">[ <a xhref="#" onclick="$('#svet-notice').hide()">hide this notice</a> ]</div>
      <div class="clearfix"></div>
    </div>
    <% } %>

    <div class="float-right" style="margin-right: 10px;">[ <a xhref="#" onclick="$('#theform').toggle({ duration: 200, easing: 'swing' })"><i class="fi-clipboard-pencil"></i> toggle form</a> ]</div>
    <div class="clearfix"></div>
    <div class="" id="theform" 
    <% if (hideForm) { %> style="display: none;" <% } %>
    >
    <form method="POST" action="" enctype="multipart/form-data"> 
      <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 small-12 cell">
          <label>Upload Debrief Chat Group Export File</label>
          <div class="callout"><input type="file" name="exportfile" /></div>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 small-6 cell">
          <label>Start Date</label>
          <input type="text" placeholder="dd/mm/yyyy" name="startdate" id="startdate" />
        </div>
        <div class="large-6 medium-6 small-6 cell">
          <label>End Date</label>
          <input type="text" placeholder="dd/mm/yyyy" name="enddate" id="enddate" />
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 small-12 cell">
          <input type="submit" value="Run Mileage Report" class="button" /> 
        </div>
      </div>
    </form>
      <hr />
    </div>

    <% if (report) { %>
    <div class="clearfix"></div>
    <div class="grid-container fluid">
      <hr/>
      <div class="grid-x grid-padding-x">
        <div class="cell small-2">
          <i class="fi-page-export" style="margin-right: 5px;"></i> <small>EXPORT:</small>
        </div>
        <div class="cell auto">
          <code><%= report.exportFilename %></code>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell small-2">
          <i class="fi-calendar" style="margin-right: 10px;"></i> <small>DATES:</small>
        </div>
        <div class="cell auto">
          <code><%= report.filterDateFrom %> to <%= report.filterDateTo %></code>
        </div>
      </div>

      <!-- begin sep-bar -->
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep-bar">&nbsp;</div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep">&nbsp;</div>
      </div>
      <!-- end sep-bar -->

      <div class="grid-x grid-padding-x">
        <div class="cell small-2">
            <i class="fi-loop" style="margin-right: 10px;"></i> <small>PROCESSED:</small>
        </div>

        <div class="cell auto">
          
          <div class="grid-x grid-padding-x">
            <div class="cell auto">
              <code><strong><%= report.totalMiles %></strong> mile(s)</code>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell auto">
              <code>for <strong><%= report.rows.length %></strong> driver(s)</code>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell auto">
              <code>from <strong><%= report.totalBlocks %></strong> datablock(s) (posts)</code>
            </div>
          </div>

        </div>
      </div>

      <!-- begin sep-bar -->
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep-bar">&nbsp;</div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep">&nbsp;</div>
      </div>
      <!-- end sep-bar -->

      <div class="grid-x grid-padding-x" style="margin-bottom: -10px">
        
        <div class="callout secondary large-1 small-1">
          <small>.</small>
        </div>
        <div class="callout secondary large-3 small-3">
          <i class="fi-male-female" style="font-size: 18px;"></i> <small><strong>DRIVER</strong></small>
        </div>
        <div class="callout secondary large-2 small-2">
          <i class="fi-blind" style="font-size: 18px;"></i> <small><strong>MILEAGE</strong></small>
        </div>
        <div class="callout secondary large-6 small-6">
          <small></small>
        </div>

      </div>

      <!-- begin rows -->

      <% let is_alt = false; %>
      <% for (const row of report.rows) { %>
      <div class="grid-x grid-padding-x" style="margin-bottom: -14px;">
        
        <div stylex="margin-bottom: -5px;" class="cell large-1 small-1 callout report-cell <% if (is_alt) { %> success <% } %>">
          <i class="fi-paperclip" style="font-size: 12px;"></i> <small><a name="row_<%= row.rowNumber %>"><%= row.rowNumber %></a></small>
        </div>
        <div stylex="margin-bottom: -5px;"  class="cell large-3 small-3 callout report-cell <% if (is_alt) { %> success <% } %>">
          <i class="fi-torso" style="font-size: 12px;"></i> <span style="font-size: 1.1em"><%= row.driver %></span>
        </div>
        <div stylex="margin-bottom: -5px;"  class="cell large-2 small-2 callout report-cell <% if (is_alt) { %> success <% } %>">
          <%= row.mileageTotal %> <small>miles</small>
        </div>
        <div stylex="margin-bottom: -5px;"  class="cell large-6 small-6 callout report-cell <% if (is_alt) { %> success <% } %>">
          <% if (row.hasDetails()) { %>
           <% let row_count = 0; %>
            <% for (const dets of row.details) { %>
              <% row_count++; %>
            
            <a class="button"
              onclick="$('#rowdetail_<%= row.rowNumber %>_<%= row_count %>').toggle(300);"
              xhref="#row_<%= row.rowNumber %>">
              <i class="fi-magnifying-glass"></i>
              <small><%= dets.name %></small></a>

            <div style="display: none;" id="rowdetail_<%= row.rowNumber %>_<%= row_count %>">
            <% for (const data of dets.data) { %>

              <div class="grid-x" style="margin-bottom: -10px">
                <div class="auto cell">
                  <div class="callout primary">
                    <small><%- dets.renderer.render(data) %></small>
                  </div>
                </div>
              </div>

            <% } %>
            <br/>
            </div>
            
            <% } %>
          <% } %>
        </div>

      </div>
      
      
      <% is_alt = !is_alt; %>
      <% } %>

      <!-- end rows -->

      <!-- begin base -->
      <div class="grid-x grid-padding-x">
        
        <div class="cell auto text-right">
          
          <ul class="menu simple align-right">
            <li><a href="#">view raw output</a></li>
            <li>|</li>
            <li><a href="#">view log</a></li>
          </ul>

        </div>
      </div>
      
    </div>

    <% } %>

    <%- include('inc/footer'); %>
    


  </body>
</html>
